/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  font-family: "Roboto","PingFang TC","Noto Sans TC";
  background-color: #e1e1e1;
  margin-right: 0;
  margin-left: 0; }
  body > .col, body > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }
  body .wrap {
    max-width: 100%;
    margin: 0 auto; }
    body .wrap .header {
      width: 100%;
      background-color: #4A90E2;
      height: 76px; }
      body .wrap .header li {
        text-align: center;
        height: 76px;
        line-height: 76px;
        border-bottom: 5px solid #4A90E2;
        width: 160px;
        margin: 0 30px; }
        body .wrap .header li.active {
          border-bottom: 5px solid #00408B; }
          body .wrap .header li.active a {
            color: white; }
        body .wrap .header li:hover {
          border-bottom: 5px solid #00408B; }
        body .wrap .header li a {
          font-size: 24px;
          color: #00408B;
          text-decoration: none; }
    body .wrap .addRemark {
      width: 620px;
      height: 65px;
      background-color: #fff;
      border: 2px solid #C8C8C8;
      border-radius: 5px;
      margin: 24px auto;
      cursor: pointer; }
      body .wrap .addRemark .text {
        font-size: 24px;
        color: #C8C8C8;
        line-height: 60px; }
        body .wrap .addRemark .text .addIcon {
          font-size: 26px;
          margin: 0px 1px 0px 25px; }
    body .wrap .Switching {
      visibility: hidden;
      height: 0; }
    body .wrap .addedMode {
      display: none; }
    body .wrap .added {
      width: 620px;
      height: 520px;
      margin: 24px auto;
      background: #F2F2F2;
      -webkit-box-shadow: 0 4px 4px 0 #C8C8C8;
              box-shadow: 0 4px 4px 0 #C8C8C8;
      border-radius: 5px;
      position: relative;
      display: none; }
      body .wrap .added .active {
        background-color: #FFF2DC; }
        body .wrap .added .active .titleInput {
          background-color: #FFF2DC !important; }
      body .wrap .added .addTitle {
        height: 76px;
        border-bottom: 2px solid #C8C8C8; }
        body .wrap .added .addTitle .titleInput {
          border: none;
          background-color: #F2F2F2;
          margin: 24px 0 0 72px;
          width: 250px;
          height: 28px; }
        body .wrap .added .addTitle input[type=checkbox] {
          -webkit-transform: scale(1.7);
              -ms-transform: scale(1.7);
                  transform: scale(1.7);
          position: absolute;
          left: 32px;
          top: 32px; }
        body .wrap .added .addTitle input::-webkit-input-placeholder {
          font-size: 24px;
          color: #000;
          font-family: "Roboto"; }
        body .wrap .added .addTitle i {
          position: absolute;
          top: 24px;
          font-size: 24px;
          cursor: pointer; }
        body .wrap .added .addTitle .fa-star-o, body .wrap .added .addTitle .fa-star {
          right: 88px; }
        body .wrap .added .addTitle .fa-star {
          color: #F5A623; }
        body .wrap .added .addTitle .fa-pencil {
          right: 32px; }
        body .wrap .added .addTitle .inEdit {
          color: #4A90E2; }
      body .wrap .added .addContent {
        position: relative; }
        body .wrap .added .addContent .dateBlock, body .wrap .added .addContent .fileBlock, body .wrap .added .addContent .comment {
          position: relative; }
        body .wrap .added .addContent i {
          position: absolute;
          font-size: 20px;
          cursor: pointer; }
        body .wrap .added .addContent .fa-calendar, body .wrap .added .addContent .fa-file-o, body .wrap .added .addContent .fa-commenting-o {
          top: 27px;
          left: 72px; }
        body .wrap .added .addContent span {
          display: block;
          padding: 27px 0 0 96px;
          font-size: 20px;
          color: #000000; }
        body .wrap .added .addContent .year, body .wrap .added .addContent .hour {
          border: none;
          text-align: center;
          -webkit-transform: scale(1.5);
              -ms-transform: scale(1.5);
                  transform: scale(1.5);
          font-size: 10px; }
          body .wrap .added .addContent .year::-webkit-input-placeholder, body .wrap .added .addContent .hour::-webkit-input-placeholder {
            font-family: Roboto-Regular;
            font-size: 16px;
            color: #C8C8C8;
            padding-left: 16px; }
        body .wrap .added .addContent .year {
          margin: 14px 0 0 129px; }
        body .wrap .added .addContent .hour {
          margin-left: 75px; }
        body .wrap .added .addContent .upload {
          width: 32px;
          height: 32px;
          line-height: 32px;
          text-decoration: none;
          text-align: center;
          display: block;
          background: #C8C8C8;
          border-radius: 2px;
          margin: 11px 0 0 96px;
          font-size: 22px;
          font-weight: bolder;
          color: white;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          body .wrap .added .addContent .upload:hover {
            background-color: #4A90E2;
            color: white; }
          body .wrap .added .addContent .upload input[type=file] {
            position: absolute;
            width: 32px;
            height: 32px;
            top: 58px;
            left: 96px;
            opacity: 0;
            overflow: hidden; }
        body .wrap .added .addContent .fileName {
          position: absolute;
          top: 65px;
          left: 146px;
          font-size: 16px;
          padding: 0px; }
        body .wrap .added .addContent textarea {
          width: 455px;
          height: 120px;
          border: none;
          margin: 8px 0 0 96px;
          padding: 10px;
          font-size: 16px;
          color: #C8C8C8;
          line-height: 24px;
          border-radius: 2px; }
      body .wrap .added .addButton {
        position: absolute;
        bottom: 0;
        height: 60px; }
        body .wrap .added .addButton a {
          display: inline-block;
          float: left;
          width: 310px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          background-color: #fff;
          font-size: 24px;
          color: #D0021B;
          text-decoration: none;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          body .wrap .added .addButton a span {
            font-size: 30px;
            padding-right: 15px; }
        body .wrap .added .addButton .addBtn {
          color: #fff;
          background-color: #4A90E2; }
    body .wrap .remark {
      width: 620px;
      margin: 0 auto; }
      body .wrap .remark li {
        border-radius: 5px;
        background-color: #F2F2F2;
        display: block;
        margin-bottom: 8px;
        position: relative; }
      body .wrap .remark .matchLi {
        display: none; }
      body .wrap .remark .active {
        background-color: #FFF2DC;
        border: 1px solid #FFF2DC; }
        body .wrap .remark .active .modifyTitle {
          background-color: #FFF2DC !important; }
      body .wrap .remark .titleAndState input[type=checkbox] {
        -webkit-transform: scale(1.7);
            -ms-transform: scale(1.7);
                transform: scale(1.7);
        position: absolute;
        left: 32px;
        top: 32px; }
      body .wrap .remark .titleAndState input:checked ~ .remarkTitle {
        text-decoration: line-through; }
      body .wrap .remark .titleAndState .modifyTitle {
        border: none;
        background-color: #F2F2F2;
        margin: 24px 0px 24px 72px;
        width: 250px;
        height: 28px;
        display: none; }
        body .wrap .remark .titleAndState .modifyTitle::-webkit-input-placeholder {
          font-size: 24px;
          color: #000;
          font-family: "Roboto"; }
      body .wrap .remark .titleAndState .remarkTitle {
        display: inline-block;
        font-size: 24px;
        color: #000000;
        margin: 24px 0px 24px 72px;
        width: 262px;
        height: 26px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        white-space: nowrap; }
      body .wrap .remark .titleAndState i {
        position: absolute;
        top: 24px;
        font-size: 24px;
        cursor: pointer; }
      body .wrap .remark .titleAndState .fa-star-o, body .wrap .remark .titleAndState .fa-star {
        right: 144px; }
      body .wrap .remark .titleAndState .fa-star {
        color: #F5A623; }
      body .wrap .remark .titleAndState .fa-pencil {
        right: 88px; }
      body .wrap .remark .titleAndState .inEdit {
        color: #4A90E2; }
      body .wrap .remark .titleAndState .fa-trash-o {
        right: 32px; }
      body .wrap .remark .titleAndState .titleEditMode {
        display: inline-block; }
      body .wrap .remark .titleAndState .spanDisapper {
        display: none; }
      body .wrap .remark .titleEditState {
        border-bottom: 2px solid #C8C8C8; }
      body .wrap .remark .remarkState i {
        font-size: 18px;
        position: static;
        cursor: auto; }
        body .wrap .remark .remarkState i:nth-child(1) {
          margin: 0px 0px 17px 72px; }
        body .wrap .remark .remarkState i:nth-child(2) {
          margin: 0 16px; }
        body .wrap .remark .remarkState i > span {
          padding-left: 8px; }
      body .wrap .remark .remarkState span {
        font-size: 16px;
        color: #757575; }
      body .wrap .remark .editDisapper {
        display: none; }
      body .wrap .remark .editIng {
        height: 445px;
        width: 620px;
        position: relative;
        display: none; }
        body .wrap .remark .editIng .dateBlock, body .wrap .remark .editIng .fileBlock, body .wrap .remark .editIng .comment {
          position: relative; }
        body .wrap .remark .editIng i {
          position: absolute;
          font-size: 20px;
          cursor: pointer; }
        body .wrap .remark .editIng .fa-calendar, body .wrap .remark .editIng .fa-file-o, body .wrap .remark .editIng .fa-commenting-o {
          top: 27px;
          left: 72px; }
        body .wrap .remark .editIng span {
          display: block;
          padding: 27px 0 0 96px;
          font-size: 20px;
          color: #000000; }
        body .wrap .remark .editIng .year, body .wrap .remark .editIng .hour {
          border: none;
          text-align: center;
          -webkit-transform: scale(1.5);
              -ms-transform: scale(1.5);
                  transform: scale(1.5);
          font-size: 10px; }
          body .wrap .remark .editIng .year::-webkit-input-placeholder, body .wrap .remark .editIng .hour::-webkit-input-placeholder {
            font-family: Roboto-Regular;
            font-size: 16px;
            color: #C8C8C8;
            padding-left: 16px; }
        body .wrap .remark .editIng .year {
          margin: 14px 0 0 129px; }
        body .wrap .remark .editIng .hour {
          margin-left: 75px; }
        body .wrap .remark .editIng .upload {
          width: 32px;
          height: 32px;
          line-height: 32px;
          text-decoration: none;
          text-align: center;
          display: block;
          background: #C8C8C8;
          border-radius: 2px;
          margin: 11px 0 0 96px;
          font-size: 22px;
          font-weight: bolder;
          color: white;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          body .wrap .remark .editIng .upload:hover {
            background-color: #4A90E2;
            color: white; }
          body .wrap .remark .editIng .upload input[type=file] {
            position: absolute;
            width: 32px;
            height: 32px;
            top: 58px;
            left: 96px;
            opacity: 0;
            overflow: hidden; }
        body .wrap .remark .editIng .fileName {
          position: absolute;
          top: 65px;
          left: 146px;
          font-size: 16px;
          padding: 0px; }
        body .wrap .remark .editIng textarea {
          width: 455px;
          height: 120px;
          border: none;
          margin: 8px 0 0 96px;
          padding: 10px;
          font-size: 16px;
          color: #C8C8C8;
          line-height: 24px;
          border-radius: 2px; }
        body .wrap .remark .editIng .addButton {
          position: absolute;
          bottom: 0;
          height: 60px; }
          body .wrap .remark .editIng .addButton a {
            display: inline-block;
            float: left;
            width: 310px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: #fff;
            font-size: 24px;
            color: #D0021B;
            text-decoration: none;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s; }
            body .wrap .remark .editIng .addButton a span {
              padding: 0px;
              display: inline;
              font-size: 30px;
              padding-right: 15px;
              color: unset; }
          body .wrap .remark .editIng .addButton .saveBtn {
            color: #fff;
            background-color: #4A90E2; }
      body .wrap .remark .editMode {
        display: block; }
    body .wrap .remain {
      font-family: Roboto-Italic;
      font-size: 24px;
      color: #C8C8C8;
      margin: 0 auto;
      width: 620px;
      padding-left: 30px;
      display: none; }
    body .wrap .done {
      display: none; }
    body .wrap .active {
      display: block; }

/*# sourceMappingURL=all.css.map */
